* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
}
body {
  background-color: darkgrey;
}
.header {
  min-height: 15vh;
  background-color: #000000;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 200px;
}
main {
  min-height: 70vh;
}
h1 {
  text-align: center;
  font-size: 22px;
  color: rgb(75, 31, 31);
}
h2 {
  font-size: 18px;
  color: #44449c;
  text-align: center;
}
p {
  font-size: 15px;
  color: #000000;
}

.hidden {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: lightgrey;
}

.cotizarOk {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
#newUser {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}
.nUser input {
  margin: 10px;
  border-color: #000000;
}
#datosCliente {
  display: none;
  flex-direction: column;
  align-items: center;
}
#registrarse {
  display: none;
  flex-direction: column;
  align-items: center;
}
footer {
  background-color: #000000;
  min-height: 15vh;
}
.footer-txt {
  background-color: #000000;
  color: white;
  text-align: center
}
